<div>
  <div class="submit-form">
    <div *ngIf="!submitted">

      <form class="person-form">
        <mat-form-field class="person-full-width" appearance="fill">
          <mat-label>Firstname</mat-label>
          <input matInput placeholder="Firstname" name="firstName" [(ngModel)]="person.firstName">
        </mat-form-field>
        <mat-form-field class="person-full-width" appearance="fill">
          <mat-label>Lastname</mat-label>
          <input matInput placeholder="Lastname" name="lastName" [(ngModel)]="person.lastName">
        </mat-form-field>

        <button mat-button color="primary" (click)="savePerson()" class="btn btn-success">Submit</button>
      </form>
    </div>

    <div *ngIf="submitted">
      <h4>Person data was submitted successfully!</h4>
      <button mat-button color="primary" class="btn btn-success" (click)="newPerson()">Add</button>
    </div>
  </div>
</div>
<div class="list row">
  <div class="col-md-12">
    <h4>Persons</h4> <a href="javascript:void(0)" (click)="download()">Download JSON</a>
    <ol mat-list>
      <li mat-list-item *ngFor="let person of personList">
        {{ person.firstName }} {{ person.lastName }}
      </li>
    </ol>
  </div>
</div>